@include b(header) {
    line-height: $workbench-header-height;
    overflow: visible;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .logo {
        width: $workbench-aside-width;
        height: $workbench-header-height;
        box-sizing: border-box;
        text-align: center;
        padding: 4px;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;

        }
    }

    @include b(menu) {
        flex-shrink: 1;
        flex-wrap: wrap;

        .menubar {
            .menubar-menu-button {
                display: inline-block;
                padding: 0 8px;
                box-sizing: border-box;
                position: relative;
                cursor: pointer;

                &:hover {
                    background: $workbench-color-primary-light-20;
                    color: $workbench-color-white;
                }
            }

            .open {
                background: $workbench-color-primary-light-20;
                color: $workbench-color-white;

                .menu-items-content {
                    position: absolute;
                    top: 30px;
                    left: 0;
                    z-index: 99;
                    background: $workbench-color-primary-light-3;
                    box-shadow: $workbench-box-shadow-base;
                    padding: 5px 10px;
                    color: $workbench-color-text-primary;
                }
            }
        }
    }

    .window-title {
        flex: 0 1 auto;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (min-width: 1200px) {
    @include b(header) {
        .window-title {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0px);
        }
    }
}