@include b(lumino) {
  #main {
    display: flex;
    // min-height: calc(100vh - 48px);
    .content {
      min-width: 50px;
      min-height: 50px;
      display: flex;
      flex-direction: column;
      padding: 0;
      // border: 1px solid #C0C0C0;
      border-top: none;
      position: relative;
      overflow: auto;
      margin-top: 11px;
    }
    .p-TabBar,
    .lm-TabBar {
      height: 35px !important;
      max-height: 35px;
    }
    .p-BoxPanel {
      flex: 1 1 auto;
      .p-TabBar-content {
        padding-left: 0;
        background-color: $workbench-color-primary-light-3;
        border: none;

        .p-TabBar-tab,
        .lm-TabBar-tab {
          border: none;
          border-right: 1px solid $workbench-color-primary-light-3;
          background: none;
          color: $workbench-color-text-secondary;
          padding: 8px 5px 8px 10px;
          max-height: 35px;
          background-color: $workbench-color-primary-light-6;
        }
        .p-TabBar-tab.p-mod-current,
        .lm-TabBar-tab.lm-mod-current {
          background: $workbench-color-primary;
          color: $workbench-color-white;
          padding: 8px 5px 8px 10px;
          max-height: 35px;
        }
        .p-TabBar-tabLabel {
          font-size: $workbench-size-base;
        }

        .p-TabBar-tabCloseIcon {
          color: inherit;
          cursor: pointer;
          padding: 0 4px;
          border-radius: 5px;
    
          &:hover {
            background: $workbench-color-primary-light-15;
          }

          &:before {
            content: "\e60e";
            font-family: "iconfont"
          }
        }
      }
    }
    .lm-TabBar-tabIcon {
      margin-right: 5px;
      font-size: $workbench-size-base;
    }
    .p-DockPanel-handle:before,
    .lm-DockPanel-handle:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: $workbench-color-border-base;
    }
    .p-DockPanel-handle[data-orientation="horizontal"]:before,
    .lm-DockPanel-handle[data-orientation="horizontal"]:before {
      left: 0;
      width: 1px;
    }
    .p-DockPanel-handle[data-orientation="vertical"]:before,
    .lm-DockPanel-handle[data-orientation="vertical"]:before {
      top: 100%;
      height: 1px;
    }
    .p-DockPanel-handle,
    .lm-DockPanel-handle {
      &:hover {
        background: $workbench-hover-color;
        &::before {
          background: none;
        }
      }
    }
  }
}
.p-Menu, .lm-Menu {
  background: $workbench-color-primary-light-6;
  color: $workbench-color-text-primary;
  border: 1px solid $workbench-color-border-base;
  border-radius: 4px;
  box-shadow: $workbench-box-shadow-base;
  padding: 3px 5px;
 
}

.p-Menu-item.p-mod-active,
.lm-Menu-item.lm-mod-active {
  background: $workbench-hover-color;
  color: $workbench-color-white;
}

.p-Menu-item[data-type='separator'] > div::after, .lm-Menu-item[data-type='separator'] > div::after {
  content: '';
  display: block;
  position: relative;
  top: 4px;
  border-top: 1px solid $workbench-color-border-base;
}

.p-Menu-itemShortcut, .lm-Menu-itemShortcut {
  color: $workbench-color-text-secondary;
}