@include b(menu-items) {
    @include b(menu-item) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: nowrap;
        line-height: 25px;
        padding-right: 5px;

        &:hover {
            background: $workbench-hover-color;
            color: $workbench-color-white;
        }

        &.border-bottom {
            border-bottom: 1px solid $workbench-color-primary-light-30;
            padding-bottom: 3px;
            margin-bottom: 3px;
        }

        @include e(label) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 60px;
        }

        @include e(right) {
            position: relative;
        }

        @include e(setIcon) {
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            margin-right: 2px;
            font-size: $workbench-size-base !important;

            &:before {
                content: "✓";

            }

        }

        @include e(hotkey) {
            color: $workbench-color-text-secondary;
        }

        @include e(submenuIcon) {
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            // font-size: 12px;

            &:before {
                content: "➤";

            }

        }

        @include b(menu-subItem) {
            background: $workbench-color-primary-light-3;
            box-shadow: $workbench-box-shadow-base;
            position: absolute;
            top: -5px;
            left: 20px;
            padding: 5px 10px;
        }

    }
}