@font-face {
  font-family: "iconfont"; /* Project id 3159808 */
  src: url('iconfont.woff2?t=1646817097084') format('woff2'),
       url('iconfont.woff?t=1646817097084') format('woff'),
       url('iconfont.ttf?t=1646817097084') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e678";
}

.icon-yunhang:before {
  content: "\e6c1";
}

.icon-tongzhi:before {
  content: "\e759";
}

.icon-chacha:before {
  content: "\e60e";
}

.icon-duigou:before {
  content: "\ebe6";
}

.icon-cuowukongxin:before {
  content: "\ed1a";
}

.icon-jinggao:before {
  content: "\e656";
}

.icon-a-lianjielianxi:before {
  content: "\e646";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-zhanghaoguanli:before {
  content: "\e80a";
}

.icon-shezhi-xianxing:before {
  content: "\e8b7";
}

.icon-fangdajing:before {
  content: "\e6e4";
}

.icon-yingyongguanli:before {
  content: "\eb8f";
}

.icon-git-branch:before {
  content: "\e796";
}

.icon-ziyuan:before {
  content: "\e686";
}

